# frontend
VITE_APP_HOST=""
VITE_APP_API=""
VITE_APP_MOCK_API=""
VITE_APP_DATA_PORT=""
# backend
DATABASE_URL=""
API_HOST=""
API_PREFIX=""
CRYPTO_KEY=""
CRYPTO_IV=""
JWT_SECRET=""
IS_DEBUG=""
# docker pgsql
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
PGADMIN_DEFAULT_EMAIL=""
PGADMIN_DEFAULT_PASSWORD=""
# brunno api
ACCESS_TOKEN=""
REFRESH_TOKEN=""
# aws
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BUCKET_FOLDER=""
AWS_S3_BUCKET_NAME=""
AWS_REGION=""
AWS_ACL=""
AWS_HOST=""
# nx
NX_CLOUD_ID=""
NX_CY_OP=""
# frontend boilerplate 
HOST=""
ID_01=""
ID_02=""
ID_04=""
ID_05=""
ID_06=""
DEL_ID=""
# ctsb debug
IS_DEBUG=""
# e2e
TEST_ADMIN_EMAIL=""
TEST_ADMIN_PASSWORD=""
# ------------------------ railway ----------------------------- #
RAILWAY_TOKEN=""
RAILWAY_PROJECT_ID=""
DATABASE_PUBLIC_URL=""
DATABASE_URL=""
PGDATA=""
PGDATABASE=""
PGHOST=""
PGPASSWORD=""
PGPORT=""
PGUSER=""
SSL_CERT_DAYS=""
# -------------------------------------------------------------- #
